<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  class="auth-block"
>
  <div class="card">
    <div class="card-content">
      <span class="card-title">Sign In</span>

      <label for="userName">Username</label>
      <div class="input-field">
        <input
          formControlName="userName"
          id="userName"
          [ngClass]="{'invalid': form.get('userName').invalid && form.get('userName').touched}"
        >
      </div>

      <div *ngIf="form.get('userName').invalid && form.get('userName').touched">
        <div class="red-text text-darken-2" *ngIf="form.get('userName').errors['required']">
          Username is required.
        </div>
      </div>

      <label for="password">Password</label>
      <div class="input-field">
        <input
          formControlName="password"
          id="password"
          type="password"
          [ngClass]="{'invalid': form.get('password').invalid && form.get('password').touched}"
        >
      </div>

      <div *ngIf="form.get('password').invalid && form.get('password').touched">
        <div class="red-text text-darken-2" *ngIf="form.get('password').errors['required']">
          Password is required.
        </div>
        <div class="red-text text-darken-2" *ngIf="form.get('password').errors['minlength']">
          Password must be at least {{ form.get('password').errors['minlength']['requiredLength'] }} characters long.
        </div>
      </div>
    </div>
    <div class="card-action">
      <button
        type="submit"
        class="btn waves-effect waves-light"
        [disabled]="form.invalid || form.disabled"
      >
        Sign In
      </button>
    </div>
  </div>
</form>