<div class="page-title">

    <h4>
        <a href="/authors">Authors</a>
        <i class="material-icons">keyboard_arrow_right</i>
        {{ author.name + " " + author.surname}}
    </h4>
    <p>
        <b>Name:</b> {{author.name}}<br>
        <b>Surname:</b> {{author.surname}}<br>
        <b>Birth Date:</b> {{author.birthDate}}<br>
        <b>Country:</b> {{author.country}}
    </p>

    <span *ngIf="isAdmin">
        <a class="btn btn-small blue" [routerLink]="['/authors/edit/' + author.id]">
            <i class="material-icons">edit</i>
        </a>
    </span>

</div>

<app-loader *ngIf="loading"></app-loader>

<app-paginator *ngIf="hasBooks" [currentPage]="currentPage" [totalPages]="totalPages"
    (pageChange)="onPageChange($event)"></app-paginator>