.book-card {
    min-width: 300px;
    max-width: 300px;
}

.book-card-image {
    height: 300px;
    width: auto;
    object-fit: contain;
}

.advanced-search {
    border: 2px solid;
    border-radius: 5px;
    margin: 10px;
}