<div class="page-title">
  <h4>Books</h4>
  <button class="waves-effect waves-light btn grey darken-1" [routerLink]="['/books/add']" *ngIf="isAdmin">
    Add book</button>
</div>

<div></div>

<div class="row">

  <div class="col s2 book-card" *ngFor="let book of books.books">
    <div class="card">

      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator book-card-image" [src]="'data:image/jpeg;base64,' + book.image">
      </div>

      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{book.name}}<i
            class="material-icons right">more_vert</i></span>
          <button class="waves-effect waves-light btn orange darken-2" routerLinkActive="router-link-active"
            (click)="inCart(book)" type="button">In cart</button>
            <br><br>
          <a class="waves-effect waves-light btn" routerLinkActive="router-link-active"
            [routerLink]="['/books/info/' + book.id]">Open</a>
      </div>

      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{book.name}}<i class="material-icons right">close</i></span>
        <p>{{book.description}}</p>
      </div>
    </div>

  </div>

</div>

<app-loader *ngIf="loading"></app-loader>

<app-paginator [currentPage]="currentPage" [totalPages]="totalPages"
  (pageChange)="onPageChange($event)"></app-paginator>